body {
  margin: 0;
  padding: 0;
  background-color: rgb(126, 137, 89);
}

@font-face {
	font-family: cochin;
	src: url('Cochin_LT.ttf') format('truetype');
}

#container {
  margin: 0 13%;
  padding: 2% .5% 0 .5%;
  background-color: rgb(232, 234, 220);
  font-family: cochin;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1.content_header {
  text-align: left;
  margin: 0;
  padding-bottom: 30px;
}

h3 {
  text-align: center;
  font-style: italic;
}

#header {
  line-height: 0pt;
  text-align: center;
  img {
    width: 100%;
  }
}

#top_menu {
  background-color: rgb(145, 176, 188);
  -moz-border-radius: 15px;
  border-radius: 12px;
  margin-top: 5px;
  padding-top: 2px;
  width: 100%;
  text-align: center;
  #buttons {
    display: inline-block;
  }
  img {
    width: 13%;
  }
}

#menu_divider {
  height: 15px;
  width: auto;
}

#sideMenu{
  float: left;
  text-align: center;
  background-color:#98bf21;
}

#sideMenu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

#sideMenu a {
  display: block;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #98bf21;
  width: 150px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

#sideMenu img {
  width: 100%;
  vertical-align: middle;
}

#sideMenu a:hover,a:active {
  background-color:#7A991A;
}

#content {
  padding: 10px;
}

/*.content_header {
  margin:0;
  padding:0;
  font-size: 2em;
  font-weight:bold;
  text-decoration:underline;
}*/

#footer {
  clear: both;
  /*position:absolute;*/
  width: 100%;
  bottom:0;
  left:0;
}
#footer table {
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

#footer td {
  text-align: center;
}

#session_info {
  text-align: left;
  clear: none;
}

#copyright {
  text-align: center;
  color: grey;
  font-size: .9em;
  a {
    color: grey;
  }
  /*position: relative;
  bottom: 1em;*/
}
/*.breaker {
  border: 1px solid black;
}*/

#home {
  line-height: 0pt;
  text-align: center;
  img {
    width: 100%;
  }
}

.product {
  margin: 0 auto;
  padding: 20px;
  width: 45%;
  text-align: left;
}

.product_title {
  font-weight: bold;
  background: url('product_title.png');
  padding: 0 1em;
  width: 159px;
  position: relative;
  top: 1px;
  left: -11px;
  height: 19px;
}

.product_inside {
  background-color: #7FBA68;
  padding: .3em .3em;
}

.product_category {
  padding-bottom: .5em;
}

.product_picture {
  float: right;
  img {
    width: 150px;
    heigh: 150px;
  }
  position: relative;
  top: -.7em;
  right: -.7em;
}

.product_size {
  text-align: right;
}

#inner_box {
  border: 88px solid transparent;
  margin: 0 auto;
  padding: 10px 20px;
  border-image: url('content_border.png') 88 88 round;
  -moz-border-image: url('content_border.png') 88 88 round; /* Old Firefox */
  -webkit-border-image: url('content_border.png') 88 88 round; /* Safari */
  -o-border-image: url('content_border.png') 88 88 round; /* Opera */
}
