.herb
  %header
    .herb_latin
      =herb.genus
      =herb.species
  
  .herb_content
    -if herb.common_names.any?
      %p
        Common Names:
        =herb.common_names.map(&:name).join(', ')
    -if herb.parts_used.present?
      %p
        Parts Used:
        =herb.parts_used
    -if herb.description.present?
      %p
        Plant Description and Distribution:
        =herb.description
    -if herb.harvest.present?
      %p
        Harvest:
        =herb.harvest
    -if herb.constituents.present?
      %p
        Key Constituents:
        =herb.constituents
    -if herb.actions.any?
      %p
        Actions:
        =herb.actions.map(&:name).join(', ')
    -if herb.indications.any?
      %p
        Indications:
        =herb.indications.map(&:name).join(', ')
    -if herb.traditional_uses.present?
      %p
        Traditional Uses:
        =herb.traditional_uses
    -if herb.overview.present?
      %p
        Overview:
        =herb.overview
    -if herb.safety.present?
      %p
        Safety Considerations:
        =herb.safety
    -if herb.dosage.present?
      %p
        Dosage:
        =herb.dosage
    -if herb.other_information.present?
      %p
        Other Information:
        =herb.other_information
    -if herb.links.present? || herb.books.present?
      %p
        Resources for Further Study:
    -if herb.links.present?
      Links:
      <br />
      -herb.links.each do |link|
        =link_to link.name, link.address
        <br />
    -if herb.books.present?
      <br />
      Books:
      <br />
      -herb.books.each do |book|
        =book
        <br />
  -if admin_user?
    %p
      = link_to "Edit", edit_herb_path(herb)
      |
      = link_to "Destroy", herb, :confirm => 'Are you sure?', :method => :delete
