-title "Herbs"

-if admin_user?
  %p= link_to "New Herb", new_herb_path
  
-@herbs.each do |herb|
  =link_to herb.name, herb_path(herb)
  -if admin_user?
    = link_to "Edit", edit_herb_path(herb)
    |
    = link_to "Destroy", herb, :confirm => 'Are you sure?', :method => :delete
  <br><br>
