=form_for @product do |f|
  =f.error_messages
  %p
    =f.label :name
    %br
    =f.text_field :name
  %p
    =f.label :category
    %br
    =f.text_field :category
  %p
    =f.label :description
    %br
    =f.text_field :description
  %p
    =f.label :picture_url
    %br
    =f.text_field :picture_url
     
  %b Sizes
  =f.fields_for :product_sizes do |builder|
    =render 'product_size_fields', f: builder
  %p
    =link_to_add_fields "Add Another Size", f, :product_sizes
    
  %b Herbs
  =f.fields_for :herbs do |builder|
    =render 'herb_fields', f: builder
    -#=render 'new_herb_fields', f: builder
  %p
    =link_to_add_fields "Add Another Herb", f, :herbs
  
  %p
    =f.submit
